body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: pink;
    font-family: Arial, sans-serif;
}

.card {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
}

#noBtn {
    position: absolute;
}
